body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  text-align: center;
  background-color: #f8f8f8;
}
header {
  text-align: center;
}
footer {
    background-color: #ccc;
  }
nav ul li{
    list-style: none;
}
nav ul li a{
    font-weight: 700;
    color: darkgreen;
    font-size: 18px;
    text-decoration: none;
}